fastapi
uvicorn[standard]
SQLAlchemy
aiosqlite
asyncpg
alembic
greenlet
pydantic
pydantic-settings
python-multipart
python-dotenv
ultralytics==8.3.70
opencv-python-headless
numpy==2.1.1
Pillow
scikit-learn
aiofiles
python-socketio
deepface
tensorflow